@model Visitors.Models.Place

@{
    ViewData["Title"] = "Delete";
}

<div class="card shadow border-0 mt-5">
    <div class="card-header bg-primary ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Delete Place</h2>

            </div>
        </div>
    </div>
  
    <form asp-action="Delete">
        <input type="hidden" asp-for="PlaceId" />
        <div class="form-floating py-2 col-12">
            @* <input class="form-control border-0 shadow" /> *@
            <label asp-for="PlaceName" class="ms-2">Place Name</label>
            <input asp-for="PlaceName" class="form-control shadow" />
        </div>

        <div class="row mt-3">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-danger form-control">Delete</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Place" asp-action="Index" class="btn btn-primary form-control">
                    Back to List
                </a>
            </div>
        </div>
    </form>
</div>

